<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home" >Prayer Hub</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/auth/facebook">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="landing-page">
      <h1 class="landing-title"><%= title %></h1>
      <h4 class="landing-sub-title">Reconnecting the world to the divine</h4>
      <h2 class="landing-login-title">Facebook Login Using Passport</h2>
      <div>
        <a href="/auth/facebook" class="btn btn-primary btn-lg landing-btn">Login</a>
      </div>
    </div>
  </body>
</html>
