body {
  padding: 0 2vw;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

textarea{
	resize: none;
	overflow: auto;
	margin-bottom: 50px;
}

.profile-side-info{
	text-align:left;
}