body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container-div{
	background-color: white;
	background-color: rgba(255,255,255,.7);
	margin: 0 9vw;
}

a {
	text-decoration: none;
}

textarea{
	resize: none;
	overflow: auto;
	margin-bottom: 50px;
}

.profile-side-info{
	text-align:left;
}

.landing-page {
	margin: 5vh 5vw;
	text-align:center;
}

.landing-title{
	color: #118;
	text-align:center;
	padding-bottom:10vh;
}

.landing-title h1{
	font-size: 500%;
}

.landing-title h4{
	font-size: 200%;
}

.list-inline{
	margin-top: 5vh;
}