<h2>Prayer Hub</h2>
<h2>Purpose</h2>
<p>The purpose of Prayer Hub is to connect people for the purposes of being a blessing to everyone.  When a new user first logs in, they are met with causes that to pledge time for.  He or she can click on the title or content of the cause, and be directed to a page where they can pledge a certain amount of time on a certain day to pray or send positive thoughts to someone else in need.</p>
<p>After a new user has made at least 5 pledges, he or she will be upgraded to a contributor.  From there, he or she will now be able to create causes of their own for people to send prayer for.  Later implementation will allow for admin to authorize or reject new causes as applicable.  This will be to ensure the quality of the site and that many people will be able to come and pledge their time and energy, without feeling discriminated against for any reason.</p>


<h2>Personal Achievement</h2>
<p>Prayer Hub has been a project a couple years in the making.  I had an idea to create a site that would allow people to connect and prayer for each other whenever they needed help.  The idea comes from the old saying, "Once can chase a thousand, and two could put ten thousand to flight".  To me, it meant that with the power of prayer and meditation, a small group of people could come together to make big things happen.  Of course having the time and resources to even begin to build a site like this were always outside of my reach... until General Assembly</p>	

<h2>Special Thanks</h2>
<p>With the skills I learned at General Assembly, I was able to update and enhance my very outdated skill set.  This allowed me to learn the technologies I needed to bring this project into fruition.  Special thanks to my instructors Phil, Kate, and Matt for all the lessons I learned there.</p>
