<div ng-init="causesCtrl.initialize(appCtrl.user)">
  <h2>Causes</h2>
  <hr>
  <div class="row" ng-repeat="cause in causesCtrl.causes">
    <div class="col-sm-3">
      <h4><a ui-sref="causeView({id: cause._id})">{{cause.title}}</a></h4>
    </div>
    <div class="col-sm-9">
      <p>{{cause.body}}</p>
    </div>
  </div>
  <h3>New Cause</h3>
  <hr>
  <form ng-submit="causesCtrl.action(appCtrl)" ng-if="causesCtrl.user.role !=='new User' ">
    <p>
      <label for="title">Title</label>
      <input type="text" name="title" ng-model="causesCtrl.newCause.title" placeholder="Title">
    </p>
    <p>
      <label>Category</label>
      <select ng-model="causesCtrl.newCause.category" ng-options="item for item in causesCtrl.categories"></select>
    </p>
    <p>
      <p>Enter a description of the cause of up to 500 characters in length.</p>
      <label>Body</label>
      <textarea name="body" ng-model="causesCtrl.newCause.body" placeholder="Body... Max limit 500 characters" rows="10" class="form-control" style="min-width: 100%" maxlength="500"></textarea>
      <input class="btn btn-success btn-lg" type="submit"/>
    </p>
  </form>
  <div  ng-if="causesCtrl.user.role ==='new User' ">
    <h4>You need more to make more pledges before you can create new causes</h4>
    <p>
      <a ui-sref="pledges" class="btn btn-success">Make a pledge!</a>
    </p>
  </div>
</div>